<html>


<head>
<title>My Local Names</title>
</head>

<body>
<center><h1>My Local Names</h1></center>

<center>
<table><tr>
<td><b>LocalNames</b></td>
<td><a href="$activity_page">activity</a></td>
<td><a href="$spaces_page">spaces</a></td>
</tr></table>
</center>

<form method="post" action="$new_page">
<center><table>
<tr><td> new space: <input type="text" name="space"/> </td></tr>
</table></center>
</form>
<br/>
<center><hr/></center>
<table border="1" cellspacing="1" width="100%">
<tr><td colspan="2">Recent Activity:</td></tr>
<tr><td>PlaceHolder</td><td>PlaceHolder</td></tr>
</table>

</body>

</html>


