<html>

<head>
<title>Names Wrapper</title>
</head>

<body>
<center><h1>Names Wrapper</h1></center>

<center>
<table><tr>
<td><b>bind</b></td>
<td><a href="$url_prefix/dump/">dump</a></td>
<td><a href="$url_prefix/about/">about</a></td>
</tr></table>
</center>

<form method="post" action=".">
<center><table>
<tr><td> Namespace URL: <b> $url_prefix/ </b> <input type="text" name="spacename"/> <b>/</b> </td></tr>
<tr><td> List of Names URL: <input type="text" name="namesurl" value="http://" size="80"/> </td></tr>
<tr><td> Substitution Pattern: <input type="text" name="pattern" value="http://.../../$NAME" size="80"/>
<tr><td> <input type="hidden" name="action" value="bind"/> <input type="submit" value="bind"/> </td></tr>
</table></center>
</form>

<center> <p> After you've setup your <a href="http://onebigsoup.wiki.taoriver.net/moin.cgi/LocalNames">Local Names</a> description, you can <a href="http://localnames.taoriver.net/">make URL shortcuts as well!</a> </center>

</body>

</html>

