<html>

<head>
<title>LocalNames Redirection Server</title>
</head>

<body>
<center><h1>LocalNames Redirection</h1></center>

<center>
<table><tr>
<td><a href="$url_prefix/">bind</a></td>
<td><a href="$url_prefix/dump/">dump</a></td>
<td><b>about</a></td>
</tr></table>
</center>

<center>
<p><a href="http://onebigsoup.wiki.taoriver.net/moin.cgi/LocalNames">LocalNames</a> is a way to use short, simple names to name things.</p>
<table>
<tr><td>Before:</td><td>"http://localnames.taoriver.net/"</td></tr>
<tr><td>After:</td><td>"LocalNames"</td></tr>
</table>

<table>
<tr><td><ul>
<li><a href="http://www.mozilla.org/products/firefox/">FireFox:</a> you can <a href="http://onebigsoup.wiki.taoriver.net/moin.cgi/UsingLocalNamesInFirefox">use LocalNames in the address bar!</a></li>
<li><a href="http://wordpress.org/">WordPress:</a> MooKitty has made a plug-in, so that LocalNames automatically link. <a href="http://onebigsoup.taoriver.net/">(We use it in our blog!)</a></li>
<li>Wiki are easy to link into, if you create a simple LocalNames description for them.</li>
<li><a href="http://moinmoin.wikiwikiweb.de/">MoinMoin</a> wiki will soon have a plug-in, to automatically write LocalNames descriptions!</li>
<li>IRC: IRC bots that support <a href="http://onebigsoup.wiki.taoriver.net/moin.cgi/UniversalLineInterface">ULI</a> can recall LocalNames.</li>
</ul></td></tr>
</table>

<p>
LocalNames can be integrated in <em>many</em> places!
</p>

<table>
<tr><td><ul>
<li>Mailing lists can make it easy to name threads with LocalNames, so that people can easily link to them.</li>
<li>Mailing lists can allow people to link certain words, using HTML in e-mail, or by appending URL's to the end of the e-mail.</li>
<li>Instant Messengers can resolve and link designated names.</li>
<li>Wiki can use LocalNames to extend <a href="http://wikifeatures.wiki.taoriver.net/moin.cgi/InterLink">InterLinks</a> to support <a href="http://wikifeatures.wiki.taoriver.net/moin.cgi/NearLink">near links,</a> <a href="http://wikifeatures.wiki.taoriver.net/moin.cgi/PublicallyEditableIntermap">public access,</a> and <a href="http://wikifeatures.wiki.taoriver.net/moin.cgi/IntermapWalking">Intermap Walking.</a></li>
<li>Wiki can grant LocalNames descriptions, making them easy to link from the outside.</li>
<li>Chat rooms (IRC, <a href="http://www.jabber.org/">Jabber</a>) can make it easy to create, annotate, and recall LocalNames.</li>
</ul></td></tr>
</table>

<p>Pretty much <b>anywhere you can write text,</b> you can use LocalNames.</p>
<p>Pretty much <b>anything you can talk about,</b> you can talk about with LocalNames.</p>

<p>Links</p>

<table>
<tr><td><a href="http://onebigsoup.wiki.taoriver.net/moin.cgi/LocalNamesBasics">LocalNames Basics</a></td><td> - Technical introduction to LocalNames </td></tr>
<tr><td><a href="http://onebigsoup.wiki.taoriver.net/moin.cgi/LocalNamesFormat">LocalNames Format</a></td><td> - Notes on the LocalNames namespace description format </td></tr>
</table>
</center>

</body>

</html>

